<div class="table"><table>
  
        <tr>

          <th class="ore"> <i>/</i></th>

          <th class="giorni"> Luned&igrave; </th>

          <th class="giorni"> Marted&igrave; </th>

          <th class="giorni"> Mercoled&igrave; </th>

          <th class="giorni"> Gioved&igrave; </th>

          <th class="giorni"> Venerd&igrave; </th>

          <th class="giorni"> Sabato </th>

        </tr>

        <tr>

        	<th class="ore"> 1 </th>

        	<td> <b>Sistemi <br> e reti</b> <br> <i></i>  </td>

        	<td> <b>Motoria</b> <br> <i>Palestra</i> </td>

        	<td> <b>Storia</b> <br> <i></i> </td>

        	<td> <b>Informatica</b> <br> <i></i> </td>

        	<td> <b>Matematica</b> <br> <i></i>  </td>

        	<td> <b>Tecnologia</b> <br> <i></i>  </td>

        </tr>

        <tr>

        	<th class="ore"> 2 </th>

        	<td> <b>Italiano</b> <br> <i></i> </td>

        	<td> <b>Inglese</b> <br> <i></i>  </td>

        	<td class="lab"> <b>Tecnologia</b> <br> <i></i>

        	<td> <b>Motoria</b> <br> <i></i> </td>

        	<td> <b>Sistemi <br> e reti</b> <br> <i></i>  </td>

        	<td> <b>Italiano</b> <br> <i></i> </td>

        </tr>

        <tr>

            <th class="ore"> 3 </th>

            <td> <b>Religione</b> <br> <i></i> </td>

            <td> <b>Telecomunicazioni</b> <br> <i></i> </td>

            <td class="lab" rowspan="2"> <b>Telecomunicazioni</b> <br> <i></i> </td>

            <td> <b>Matematica</b> <br> <i></i> </td>

            <td> <b>Matematica</b> <br> <i></i> </td>

            <td> <b>Informatica</b> <br> <i></i> <br> <i></i> </td>

        </tr>

        <tr>

            <th class="ore"> 4 </th>

            <td> <b>Inglese</b> <br> <i></i> </td>

            <td rowspan="2"> <b>Italiano</b> <br> <i></i>  </td>

            <td class="lab" rowspan="2"> <b>Informatica</b> <br> <i></i> </td>

            <td class="lab" rowspan="2"> <b>Sistemi <br> e reti</b> <br> <i></i> </td>

            <td> <b>Inglese</b> <br> <i></i> </td>

	    <td> <b>Storia</b> <br> <i></i> </td>

        </tr>

        <tr>

            <th class="ore"> 5 </th>

            <td> <b>Tecnologia</b> <br> <i></i> </td>

            <td class="lab" rowspan="2"> <b>Informatica</b> <br> <i></i> </td>

            <td> <b>Complementi di <br> Matematica </b> <br> <i></i> </td>

        </tr>

        <tr>

            <th class="ore"> 6 </th>

            <td colspan="2"> <br> </td>

            <td></td>

            <td></td>

    	</tr>

	</table>
</div>
